<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

</br>

  <div>
  <%= f.input :first_name, placeholder: 'ex: Joe' %></div>

  <div>
  <%= f.input :last_name, placeholder: 'ex: Jones' %></div>

  <div>
  <%= f.input :email, autofocus: true, placeholder: 'ex: joejones@gmail.com' %></div>

    <div>
  <%= f.input :picture, :as => :file, :label => "Upload a profile pic" %></div>

  <div>
  <%= f.input :school_name, placeholder: 'ex: Krossover High School'%></div>

  <div><%= f.label :sport %>
  <%= f.select :sport, options_for_select([["Basketball", "Basketball"], ["Volleyball","Volleyball"], ["Lacrosse","Lacrosse"], ["Football","Football"]])%></div>

  <div><%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>


  </br>
  <div><p><%= f.submit "Sign Up", :class => 'btn btn-lg' %></p></div>

<% end %>



<%= render "devise/shared/links" %>
