
<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
  <%= current_user.first_name %> <%= current_user.last_name %>
</p>
  <p class="blog-post">
    <%= f.label :'Write your response to this goal below:' %><br>
    <div>
    <%= f.cktext_area :body, rows: 10 %>
  </div>
  </p>
  <p>
    <%= f.submit "Submit To This Goal", :class => 'btn btn-lg btn-primary' %>
  </p>
<% end %>




