<div class="goal-page">
   
  <h4>Goal Submitted To:</h4>
		<p><%= Article.find(@comment.article_id).title %>
	</p>

   <h5>Coach Name:</h5>
	   <a href='/' + '#{@comment.user_id}'> <%= @comment.commenter %> </a>
 <!-- can we fix this to link back to the users profile? -->

	 
	<h5>Coach Submission:</h5>
	  <%= raw(@comment.body) %>
	

<br />
<hr>
<div>
	<%= social_share_button_tag(@comment.body) %>
</div>

<hr>
 <%= link_to 'Back to the Goals', articles_path %>
</div>