<div class="goal-page">
   
  <p>
		<strong>Goal Submitted To</strong>
		<%= Article.find(@comment.article_id).title %>
	</p>

   <p>
	  <strong>Commenter Name:</strong>
	   <%= current_user.first_name %> <%= current_user.last_name %>
	</p>
	 
	<p>
	  <strong>Comment:</strong>
	  <%= raw(@comment.body) %>
	</p>


<br />
<div>
	<%= social_share_button_tag(@comment.body) %>
</div>

<hr>
 <%= link_to 'Back to the Goals', articles_path %>
</div>