<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
  <div class="alert alert-warning">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this goal from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>

  <p>
    <%= f.label :kredit %><br>
    <%= f.text_area :kredit %>
  </p>

  <p>
    <%= f.submit "Submit Your Goal" %>
  </p>
<% end %>
