<h1>Latest Goals</h1>
 
 <hr >
 <p>In Krossover Kredits you can earn rewards on completed goals. See details below. </p>

<hr >

      <% @articles.each do |article| %>
    <div class="thumbnails">
        <div class="caption">
          <h3><%= article.title %></h3>
          <p><%= article.text %></p>
          <p>Due Date: <%= article.date %></p>
          <p>Kredits: <%= article.kredit %></p>
          <p><%= link_to 'Check Out This Goal', article, :class => "btn btn-primary" %></p>
          <hr>
        </div>
      </div>
      <% end %>
    
<!-- 
<table class="table table-striped">
  <tr>
    <th>Goal Name</th>
    <th>Description</th>
    <th>Due Date</th>
    <th>Kredits</th>
    <th colspan="4"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.date %></td>
      <td><%= article.kredit %></td>
      <td ><%= link_to 'Submit to this goal', article_path(article) %></td>
    </tr>
    <% end %>
</table>
 -->

