<h1>Latest Goals</h1>
 
 <hr >
 <p>In Krossover Kredits you can earn rewards on completed goals. See details below. </p>

<hr >

<table class="table table-striped">
  <tr>
    <th>Goal Name</th>
    <th>Description</th>
    <th>Due Date</th>
    <th>Kredits</th>
    <th colspan="4"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.date %></td>
      <td><%= article.kredit %></td>
      <td ><%= link_to 'Submit to this goal', article_path(article) %></td>
    </tr>
    <% end %>
</table>


