<h1>Latest Goals</h1>
 

<table class="table">
  <tr>
    <th>Goal Name</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.date %></td>
      <td><%= article.kredit %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
    <% end %>
</table>