<p>
  <strong>Goal Name:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @article.text %>
</p>

<h2>Coaches</h2>
<%= render @article.comments %>


<h2>Submit to this goal:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Back', articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>