
<div class="goal-page">
  <h2> <%= @article.title %></h2> 
  <hr>
	<p><%= @article.text %></p>

	<p> Due Date: <%= @article.date %> </p>   
	<p>Kredits:  <%= @article.kredit %></p>

<!-- <p><strong>Submissions</strong></p>
<%= render @article.comments %> -->

<hr>
<p>
<%= render "comments/form" %>
 </p>
<%= link_to 'Back', articles_path %>
</div>