<div class="reward-page">
<p id="notice"><%= notice %></p>

    <div class="reward-image">      
        <%= image_tag(@reward.image_url, :width => 600) if @reward.image.present? %>
         <%= image_tag("krossover-reward.jpg", :width => 600) if @reward.image.blank? %>
    </div>

<p>
  <strong>Title:</strong>
  <%= @reward.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reward.description %>
</p>

<p>
  <strong>Kredit:</strong>
  <%= @reward.kredit %>
</p>

<hr>
<p>
<%= render "claims/form" %>
</p>

<%= link_to 'Back', rewards_path %>
</div>
