<h1>Welcome to Krossover Kredit</h1>
 
<!--<% if user_signed_in? == true %>
    <p>
	  <strong>Hello</strong>
	  <%= current_user.first_name %><%= current_user.last_name %>
	</p>
	 
	<p>
	  <strong>Kredit:</strong>
#should have been a kredit thing here!!!!
	</p>
 <%= link_to 'sign out', destroy_user_session_path, method: :delete %>

<hr>
<% else %>

 <%= link_to 'Atricles', controller: 'articles' %>
 <%= link_to 'sign in', new_user_session_path %>
 <%= link_to 'Register', new_user_registration_path %>
 <% if  current_user.admin? %>
  <%= link_to 'Edit', edit_users_path(@user) %>
 <% end %>
<% end %>
-->

                                                
<div style="line-height: 200px">
	<p style="line-height: 30px;">As a member of the Krossover rewards program you can earn discounts on a variety of products including your future video break downs. Three easy rules to the game:</p>
                                                  <ol>
                                                    <b><li><p><%= link_to 'Complete a goal', controller: 'articles' %></p>
</li></b></a>
                                                    <a href="#"><b><li><p>Check your kredits</p></li></b></a>
                                                    <a href="/rewards"><b><li><p>Claim a reward!</p></li></b></a>
                                                  </ol>
	<div>
		
		<p sstyle="line-height: 30px;">For questions about Krossover Kredit, please contact:
			<br><a href="mailto:sales@krossover.com" style="color:#fb4428" target="_blank">sales@krossover.com</a></p>


	</div>
</div>

