<h1>Welcome to Krossover Kredits</h1>
 
<!--<% if user_signed_in? == true %>
    <p>
	  <strong>Hello</strong>
	  <%= current_user.first_name %><%= current_user.last_name %>
	</p>
	 
	<p>
	  <strong>Kredit:</strong>
#should have been a kredit thing here!!!!
	</p>
 <%= link_to 'sign out', destroy_user_session_path, method: :delete %>

<hr>
<% else %>

 <%= link_to 'Atricles', controller: 'articles' %>
 <%= link_to 'sign in', new_user_session_path %>
 <%= link_to 'Register', new_user_registration_path %>
 <% if  current_user.admin? %>
  <%= link_to 'Edit', edit_users_path(@user) %>
 <% end %>
<% end %>
-->

<tbody><tr>
                	<td align="center" valign="top">
                    	
                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-radius:6px;background-color:#ffffff">
                        	<tbody><tr>
                            	<td align="center" valign="top">
                                	
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                    	<tbody><tr>
                                        	<td>
                                            	<!--<h1 style="font-size:26px;margin-bottom:10px;padding:0;margin-top:0"><a href="http://www.krossover.com" style="color:#fb4428" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/BusbFGXDiBVN438UszTTeHkKgBnPi2uEUnaFgAtsznWSbB60BFUtk7lNBIkUQ1Uuxqa5xZRKQijoWKAM1QmCAyLGsHRQ5vKUcSeG-gtNXbWbMjIjbZbKDJpgqyiSmCSyVKK0=s0-d-e1-ft#https://gallery.mailchimp.com/b80a3dc44bedd2631ddb19667/images/Untitled_3.png" alt="" border="0" width="620" height="144"></a></h1>-->
                                            </td>
                                        </tr>
                                    </tbody></table>
                                	
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-radius:6px;background-color:#ffffff">
                                    	<tbody><tr>
                                            
                                            <td align="left" valign="top" style="line-height:200%;font-family:Arial;font-size:12px;color:#333333;padding:20px">                                                
                                                <div style="line-height: 200px">
	<p style="padding:0 0 10px 0">As a member of the Krossover rewards program you can earn discounts on your future video break downs. Three easy rules to the game:</p>
                                                  <ol>
                                                    <b><li><p><%= link_to 'Complete a goal', controller: 'articles' %></p>
</li></b></a>
                                                    <a href="#"><b><li><p>Check your kredits</p></li></b></a>
                                                    <a href="/rewards"><b><li><p>Claim a reward!</p></li></b></a>
                                                  </ol>
	<div>
		
		<p style="padding:0 0 10px 0">For questions about Krossover Kredit, please contact:
			<br><a href="mailto:sales@krossover.com" style="color:#fb4428" target="_blank">sales@krossover.com</a></p>


	</div>
	<p><%= link_to 'Sign Up Now!', new_user_registration_path %></p>
</div>

                                            </td>
                                            
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	
                                	<table border="0" cellpadding="20" cellspacing="0" width="600">
                                    	<tbody><tr>
                                        	<td align="center" valign="top">
                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody>


