<h1> Edit Referral </h1>

<%= form_for ([@referral]), :html => { :mulitpart => true } do |f| %>

 

   <div> Coach's Last <%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div> Coach's <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>


  <div><%= f.submit "Update This Coach" %></div>

  <%= link_to 'Back', referrals_path %>
  <%= link_to 'See All Referrals', referrals_path %>
<% end %>