<h1>Refer a coach </h1>
<hr >

<p>Tell your friends about this and earn extra kredits!</p>

<hr >

<%= form_for ([@referral]), :html => { :mulitpart => true } do |f| %>

 

   <div> <%= f.label :First_Name %><br />
  <%= f.text_field :name %></div>

   <div> <%= f.label :Last_Name %><br />
  <%= f.text_field :last_name %></div>

  <div> <%= f.label :Email %><br />
  <%= f.email_field :email, autofocus: true %></div>

   <div><%= f.label :Phone_Number %><br />
  <%= f.text_field :phone_number %></div>

   <div> <%= f.label :School %><br />
  <%= f.text_field :school %></div>

   <div>  <%= f.label :Sport %><br />
  <%= f.text_field :sport %></div>



  <div><p><%= f.submit "Refer This Coach", :class => 'btn btn-lg' %></p></div>


<p>  <%= link_to 'Back', root_path %></p>
<p> <%= link_to 'See All Referrals', referrals_path %></p>
<% end %>


   