<h1>Refer a coach </h1>
<hr >

<p>Tell your friends about this and earn extra kredits!</p>

<hr >

<%= simple_form_for ([@referral]), :html => { :mulitpart => true } do |f| %>

 

   <div> <%= f.label :First_Name %><br />
  <%= f.text_field :name %></div>

   <div> <%= f.label :Last_Name %><br />
  <%= f.text_field :last_name %></div>

  <div> <%= f.label :Email %><br />
  <%= f.email_field :email, autofocus: true %></div>

   <div><%= f.label :Phone_Number %><br />
  <%= f.telephone_field :phone_number, hint: "Please don't use para" %></div>

   <div> <%= f.label :School %><br />
  <%= f.text_field :school %></div>

   <div>  <%= f.label :Sport %><br />
  <%= f.select :sport, options_for_select([["Basketball", "Basketball"], ["Volleyball","Volleyball"], ["Lacrosse","Lacrosse"], ["Football","Football"]])%>
</div>


</br>
  <div><p><%= f.submit "Refer This Coach", :class => 'btn btn-lg' %></p></div>


<p>  <%= link_to 'Back', root_path %></p>

<% end %>


   