<div class="goal-page">
    <h1> Referral Details </h1>

    <p>
      <strong>First Name:</strong>
      <%= @referral.name %>
    </p>
     
    <p>
      <strong>Last Name:</strong>
      <%= @referral.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @referral.email %>
    </p>
     
    <p>
      <strong>Phone Number:</strong>
      <%= @referral.phone_number %>
    </p>

    <p>
      <strong>School:</strong>
      <%= @referral.school %>
    </p>
     
    <p>
      <strong>Sport:</strong>
      <%= @referral.sport %>
    </p>

  


         
<hr>


<!-- should be some type of information about latest with this referral -->

<%= link_to 'Back', referrals_path %>
| <%= link_to 'Edit', edit_referral_path(@referral) %>
</div>