<div class="goal-page">
    <h1> Your Referral Submission </h1>

    <p>
      <strong>First Name:</strong>
      <%= @referral.name %>
    </p>
     
    <p>
      <strong>Last Name:</strong>
      <%= @referral.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @referral.email %>
    </p>
     
    <p>
      <strong>Phone Number:</strong>
      <%= @referral.phone_number %>
    </p>

    <p>
      <strong>School:</strong>
      <%= @referral.school %>
    </p>
     
    <p>
      <strong>Sport:</strong>
      <%= @referral.sport %>
    </p>

     <p>
    <strong>Thanks for spreading the knowledge!</strong>
  </p>

<br />
<div>
  <%= social_share_button_tag(@referral) %>
</div>

<hr>
<!-- should be some type of information about latest with this referral -->

<p><a href="/referrals/new" alt="Referral Page">Submit Another Referral!</a></p>

</div>
