<!DOCTYPE html>
<html>
<head>
  <title>Krossover Kredits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="header" class="navbar navbar-fixed-top">
        <div class="navbar-inner">

           <img src="http://www.krossover.com/wp-content/themes/swatch/images/assets/krossover-logo.png"> 
            <div class="container">
                <a href="#" class="brand">Krossover Kredits</a>
            </div>
            <!-- uncomment this for the kredit kounter -->
                <!-- <div class="meter" id="orange">
                    <span style="width: 25%"></span>
                </div> -->
        </div>
    </div>
    <div class="container">
        <%= yield %><br /><br />    
    </div>

    <% if flash[:notice] %>
        <div class="alert">
            <button class="close" data-dismiss="alert">x</button>
            <%= flash[:notice] %>
        </div>
    <%end%>

     <% if flash[:notice] %>
        <div class="notice">
            <button class="close" data-dismiss="notice">x</button>
            <%= flash[:notice] %>
        </div>
    <%end%>

</body>

<!-- footer -->

<div id="footerOuterSeparator"></div>

<div id="divFooter" class="footerArea">
    
    <div class="divPanel">
    
        <div class="row-fluid">
    
      
                <div class="span1" id="footerArea">
                    <a href='http://www.krossover.com/'>Home</a>
                </div>

                <div class="span1" id="footerArea">
                    <a href='http://www.krossover.com/siq/'>sIQ</a>
                </div>

                <div class="span1" id="footerArea">
                    <a href='http://www.krossover.com/blog/'>Blog</a>
                </div>

                <div class="span1" id="footerArea">
                    <a href='http://www.krossover.com/jobs/'>Jobs</a>
                </div>

                <div class="span1" id="footerArea">
                    <a href='http://www.krossover.com/press/'> Press</a>
                </div>

                <div class="span1" id="footerArea">
                    <a target='_blank' href='http://support.krossover.com/'> Support</a>
                </div>

                <div class="span2" id="footerArea">
                    <a href='http://www.krossover.com/terms-conditions/'>Terms & Conditions</a>
                </div>

                <div class="span2" id="footerArea">
                    <a href='http://www.krossover.com/privacy-policy/'>Privacy Policy</a>
                </div>

                <div class="span1" id="footerArea">
                    <a href='http://www.krossover.com/contact-us/'>Contact</a>
                </div>
        </div>
    </div>

        <br>
<!-- 
            copyright under footer -->

           
            <div class="row-fluid">

                <div class="col-xs-12 cold-sm-4">
                    <p class="copyright">

                 © Krossover Intelligence Inc. 2014

                 <a href="#"><i class="social foundicon-instagram"></i> Follow On Instagram</a>  
                <a href="https://twitter.com/oswt"><i class="social foundicon-twitter"></i> Follow Us On Twitter @Krossovr</a>  
                 <a href="#"><i class="social foundicon-facebook"></i> Like Us On Facebook</a>
                    </p>  
                </div>
            </div>
        </div>
    </div>

</html>