<!DOCTYPE html>
<html>
<head>
  <title>Krossover Kredit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/mnu0pvt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>


<nav id="header">
    <div id="header" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <a href="/">
            <img id="main-logo" src="http://i.imgur.com/XXbGa8X.png" alt="Krossover Kredits"></a>
           <div class="navigational-buttons">
            <ul id="headerbuttons" class="nav nav-pills">
              <% if current_user.present?%>
              <li> <%= link_to "YOUR PROFILE", user_path(current_user.slug) %></li>
              <%end %>
              <li><a href="/goals">GOALS</a></li>
              <li><a href="/rewards">REWARDS</a></li>
              <li><a href="/referrals/new">REFER A COACH</a></li>           
              <% if current_user.blank? %>
              <li><a href="/users/sign_in">SIGN IN</a></li>
              <%end%>
              <% if current_user.present?%>
              <li> <a data-method="delete" href="/users/sign_out" rel="nofollow">SIGN OUT</a></li>
              <% end %>
            </ul>

            </div>
        </div>
    </div>
</nav>

<!-- end of old header  -->


    <div class="container">
        <% if flash[:notice] %>
          <div class="alert">
              <button class="close" data-dismiss="alert">x</button>
              <%= flash[:notice] %>
          </div>
        <%end%>

        <!-- Here is the amazing content for each page -->
        <%= yield %>
          <br />    
    </div>


<!--    <div class="push"> </div>-->



</body>

<!-- footer -->



  <footer id="divFooter" class="footerArea">
    <ul id="footerbuttons" class="nav nav-pills">
        <li><a href="http://krossover.com">© KROSSOVER INTELLIGENCE INC. 2014</a></li>
        <li><a href='/'>HOME</a></li>
        <li><a href='http://www.krossover.com/blog/'>BLOG</a></li>
        <li><a href='http://www.krossover.com/terms-conditions/'>TERMS & CONDITIONS</a></li>
        <li><a href='http://www.krossover.com/privacy-policy/'>PRIVACY POLICY</a></li>
        <li><a href='http://www.krossover.com/contact-us/'>CONTACT</a></li>
    </ul>
<!-- copyright under footer -->
  </footer>

</html>
